<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Create</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  </head>
  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/users/<%=@user.slug%>">ReadGood</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/users/<%=@user.slug%>">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/users/<%=@user.slug%>/add">Add to My Books</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/users/<%=@user.slug%>/edit">Edit My Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/books/index">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/authors">Authors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/genres">Genres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="text-center">
  <h1>Add a book to My Books</h1>

  <form action="/my_books" method="post">
    <label>Book Name:</label><input type="text" name="book name" required="required"> <br>
    <label>Book Author:</label><input type="text" name="author" required="required"> <br>
    <label>Book Genre:</label><input type="text" name="genre" required="required"> <br>
    <input type="submit" name="submit" value="Submit">
  </form>
</div>

  </body>
  </body>
</html>
