<h1><%=@user.username%></h1>


<h2>My Books:</h2>
<% @user.books.each do |u| %>
<%= u.name %>
<% end%>

<form action="/users/<%=@user.slug%>/add" method="post">
  <input type="submit" value="Add to My Books">
</form>

<a href="/users/logout">Log Out</a>
