<h1>Add a book to My Books</h1>

<form action="/my_books" method="post">
  <label>Book Name:</label><input type="text" name="book name" value="book name" required="required"> <br>
  <label>Book Author:</label><input type="text" name="author" required="required"> <br>
  <label>Book Genre:</label><input type="text" name="genre" required="required"> <br>
  <input type="submit" name="submit" value="Submit">
</form>
<!-- enables creation of multiple books per user  -->
