<h1>Create a Book:</h1>


<form action="/new_book" method="post">
  <label>Book Name:</label><input type="text" name="name" required="required">
  <label>Book Author:</label><input type="text" name="author" required="required">
  <label>Book Genre:</label><input type="text" name="genre" required="required">
  <input type="submit" name="submit" value="Submit">
</form>
