
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body id="frontpages">
    <div class="header-row" id="header-row" style="padding: 0px; overflow:hidden; height:100px;">
   <div class="container-fluid" style="padding: 0px;">
      <div class="row">

         <div class="col-xs-12">

         </div>
      </div>
   </div>
</div>
<div class="text-center">
  <h1>Welcome to ReadGood!</h1>

  <h2>To get started, please <a href="/login">log in</a> or <a href="/signup">sign up.</a></h2>

</div>
  </body>
</html>
